<nav class="main-nav">
    
    <ul class="social-accounts-inline">
        <li>
            <a href="http://github.com/{{ site.github_user }}"><i class="fa fa-github"></i></a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/{{ site.social.linkedin }}"><i class="fa fa-linkedin"></i></a>
        </li>
    </ul>
    {% if page.url != "/" %}
        <a href='/'> <span class="arrow">←</span> Home </a>
    {% endif %}

    {% if page.url != "/about/" %}
        <a href='{{ "/" | relative_url }}about'>About </a>
    {% endif %}
    <a class="cta" href='{{ "/" | relative_url }}feed.xml'>Subscribe</a>
</nav>